Outlook password expiry.json
{
  "name": "Outlook password expiry",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"parameters\": {\n    \"values\": {\n      \"string\": [\n        {\n          \"name\": \"message\",\n          \"value\": \"Reminder: Please update your Outlook password before it expires to not lose access to important emails from your organization.\"\n        }\n      ]\n    }\n  },\n  \"name\": \"Set\",\n  \"type\": \"n8n-nodes-base.set\",\n  \"typeVersion\": 2,\n  \"position\": [\n    460,\n    300\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a7c9b2f2-40ba-49bd-8a63-0a7fd6215e9a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short, polite reminder email asking the user to update their Outlook password before it expires, it was to show some sense of emergency and to metion the date of expiry.\nThis message will be sent 1 week before the expiry and so on during the following days until expiry. But do not generalize it, do not give \"123@company.com\", use real people's names, and real dates, remember the message is being sent 1 week, so calculate the expiry date and follow up with it.\nMake the text very short, precise, formal and no need for long paragraphs and too much words, just the necessary. no need to give detailed instructions.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "\"Reminder: Please update your Outlook password before it expires to avoid losing access.\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        416,
        0
      ],
      "id": "5e8f6b07-43e2-44ac-9ee7-448eefcd47d9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "5aeabd55-d958-4ef6-8e52-6dc0284c80aa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RZoYd5zDEIeIDMjp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "perlejawal@gmail.com",
        "subject": "Reminder: password update!",
        "emailType": "text",
        "message": "={{$json[\"text\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        0
      ],
      "id": "f9932ae5-7377-495c-96c5-72b44b3ba7b9",
      "name": "Send a message",
      "webhookId": "e2e45c0d-7581-4236-ab6a-694156de7520",
      "credentials": {
        "gmailOAuth2": {
          "id": "NMZtMUQwkfBgCMwG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 1 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8d4027aa-466d-49d6-8a83-02f7193c712d",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "09539fcb-129a-4c30-a755-027b31ad7128",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5847cc35d3cad955eac495beb627c5115f74502ba8b41a96cb9fc238bb0ae737"
  },
  "id": "4r7ixrKXcvete7cL",
  "tags": []
}